<a href="https://colab.research.google.com/github/profteachkids/CHE3022_Fall2021/blob/main/GenerateDimensionalAnalysisConvectiveHeatTransfer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [11]:
# Create artificial data set

Re = np.random.uniform(10e3, 1e6, 100)
Pr =np.random.choice(np.random.uniform(0.6, 160, 8),100)
Nu = 0.23*(Re**0.8)*(Pr**0.4)
Nu = np.random.normal(loc=Nu, scale=0.02*Nu)
def sigfig(x,n=3):
    b = np.round(np.log10(x),0)
    x = np.round(x*10**(-b),n) *(10**b)
    return x

# Use only water who viscosity is adjusted with a thickener that has minimal impact on other properties
# And a single diameter pipe  
rho=1000.  
D = 0.1
k = 0.6
cp = 4190

mu = Pr*k/cp; mu=sigfig(mu,3)
V = Re * mu/rho/D; V=sigfig(V,3)
h = Nu*k/D; h=sigfig(h,3)
df = pd.DataFrame(dict(mu=mu, V=V, h=h, cp=cp, k=k, D=D, rho=rho))
df = df.set_index(['mu','V'])
df=df.sort_index()
df=df.reset_index()
df.to_excel('DimensionalAnalysisConvectiveHeatTransfer.xlsx')

In [12]:
df

          mu        V         h    cp    k    D     rho
0   0.002651    2.449   42100.0  4190  0.6  0.1  1000.0
1   0.002651    3.105   50900.0  4190  0.6  0.1  1000.0
2   0.002651    3.810   62700.0  4190  0.6  0.1  1000.0
3   0.002651    6.520   88300.0  4190  0.6  0.1  1000.0
4   0.002651    8.590  109300.0  4190  0.6  0.1  1000.0
..       ...      ...       ...   ...  ...  ...     ...
95  0.019830  123.700  430000.0  4190  0.6  0.1  1000.0
96  0.019830  126.000  437000.0  4190  0.6  0.1  1000.0
97  0.019830  172.000  548000.0  4190  0.6  0.1  1000.0
98  0.019830  184.500  581000.0  4190  0.6  0.1  1000.0
99  0.019830  195.100  633000.0  4190  0.6  0.1  1000.0

[100 rows x 7 columns]